.malinky-gallery-slider-wrapper {
    margin-bottom: 40px;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    opacity: 0;
    height: 0;
    transition: opacity 0.4s ease-in;
}

.malinky-gallery-slider-wrapper-show {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */
    opacity: 1;
    height: auto;
}

.malinky-gallery-slider-loading {
    display: none;
    height: 100px;
    background: url(../img/loader.gif) 50% no-repeat;
    background-size: 50px;
}

.malinky-gallery-slider-cell {
    width: 32.5%;
    margin-right: 1.25%;
    background: #ececec;
}

/*
 * Gallery has only 20px margin as the images in a gallery also have 20px.
 */
.malinky-gallery {
    margin-bottom: 20px;
}

/*
 * Gallery cell has margin-bottom for spacing if images more than one row. (Not slider)
 */
.malinky-gallery-cell {
    margin-bottom: 20px;
}