.malinky-gallery-cell {
    width: 200px;
    height: 150px;
    margin-right: 24px;
    margin-bottom: 20px;
    background: #ececec;    
}

.malinky-gallery-wrapper {
    height: 150px;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    opacity: 0;
    height: 0;
    -webkit-transition: opacity 0.4s ease-in;
            transition: opacity 0.4s ease-in;
}

.malinky-gallery-wrapper-show {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */
    opacity: 1;
    height: auto;
}

.malinky-gallery-loading {
    display: none;
    height: 100px;
    background: url(../img/loader.gif) 50% no-repeat;
    background-size: 50px;
}

.malinky-gallery-image {
    margin-bottom: 20px;
}